<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title></title>
<link href="/zoopu/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/zoopu/js/mootools.js"></script>
<script type="text/javascript">
function checkForm()
{
	if (!/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){1,19}$/.test($('username').value))
	{
		alert('请正确输入用户名！');
		$('username').focus();
		return false;
	}

	if ($('password').value.length < 6)
	{
		alert('请正确输入密码最短6位！');
		$('password').focus();
		return false;
	}

	if ($('password').value != $('password1').value)
	{
		alert('两次密码输入不一致！');
		$('password').focus();
		return false;
	}

	if ($('name').value.trim() == '')
	{
		alert('请输入姓名！');
		$('name').focus();
		return false;
	}

	return true;
}
</script>
</head>
<body class="mtbg">
<form id="myform" name="form1" method="post" action="/zu/admin/save.do" onsubmit="return checkForm();">
	<table width="100%" height="30" border="0" cellpadding="0" cellspacing="0" background="/zoopu/images/matbg.jpg" class="mb5">
		<tr>
			<td width="92%">&nbsp;<a href="#"></a>&nbsp;<img src="/zoopu/images/9.gif" width="14" height="14" align="absmiddle" class="mr5"><strong>新增用户</strong></td>
			<td width="8%" align="right">&nbsp;</td>
		</tr>
	</table>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tableAdd borTop">
      	<tr>
        	<th width="120" height="30" nowrap>用户名<span style="color:#FF0000">*</span></th>
        	<td class="pl5">
				<input type="text" id="username" name="username" size="20" maxlength="20"/>
			</td>
      	</tr>
      	<tr>
        	<th height="30">密码<span style="color:#FF0000">*</span></th>
        	<td class="pl5">
				<input type="password" id="password" name="password" size="20" maxlength="20"  />
			</td>
      	</tr>
      	<tr>
        	<th height="30">再次输入密码<span style="color:#FF0000">*</span></th>
        	<td class="pl5">
				<input type="password" id="password1" size="20" maxlength="20" />
			</td>
      	</tr>
      	<tr>
        	<th height="30">姓名<span style="color:#FF0000">*</span></th>
        	<td class="pl5">
				<input type="text" id="name" name="name" size="20" maxlength="20" />
			</td>
      	</tr>
      	<tr>
        	<th height="30">性别</th>
        	<td class="pl5">
				<input type="radio" checked="checked" value="男" name="sex" /> 男
				<input type="radio" value="女" name="sex" /> 女
			</td>
      	</tr>
      	<tr>
        	<th height="30">电话</th>
        	<td class="pl5">
            	<input type="text" id="phone" name="phone" size="20" maxlength="20"/>
        	</td>
      	</tr>
      	<tr>
        	<th height="30">手机</th>
        	<td class="pl5">
            	<input type="text" id="mobile" name="mobile" size="20" maxlength="20"/>
        	</td>
      	</tr>
      	<tr>
        	<th height="30">邮箱</th>
        	<td class="pl5">
            	<input type="text" id="email" name="email" size="20" maxlength="50"/>
        	</td>
      	</tr>
		<!--
      	<tr>
        	<th height="30">系统管理员</th>
        	<td class="pl5">
            	<input type="radio" checked="checked" value="0" name="administrator" /> 否
				<input type="radio" value="1" name="administrator" /> 是
        	</td>
      	</tr>
      	<tr>
        	<th height="30">用户权限</th>
        	<td class="pl5">
        	</td>
      	</tr>
		-->
      	<tr>
        	<th height="35">&nbsp;</th>
        	<td class="pl5">
        		<input type="submit" class="buttonBg" value="新增"/>
            	<input type="reset" class="buttonBg"  value="重置" />
            	<input type="button" class="buttonBg"  value="返回" onclick="history.back();return false;"/>         
            </td>
      	</tr>
    </table>
</form>
</body>
</html>