<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>用户管理</title>
<link href="/zoopu/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body class="mtbg">
<table width="100%" border="0" cellpadding="0" cellspacing="0" background="/zoopu/images/mtbg.jpg">
	<tr>
		<td width="92%">
			<img src="/zoopu/images/8.gif" width="12" height="12" align="absmiddle" class="mr5" />
			<strong>用户列表</strong>
		</td>
		<td width="8%" align="right">
			<img src="/zoopu/images/mtr.jpg" width="97" height="32" />
		</td>
	</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mb5">
	<tr>
		<td width="100%">&nbsp;</td>
		<td width="100%" colspan="2">
			<form name="form1" method="post" action="/zu/admin/list.do">
				<table border="0" align="right" cellpadding="0" cellspacing="5">
					<tr>
						<td align="right" nowrap="nowrap">
							姓名：<input type="text" name="name" size="10"/>
						</td>
						<td>
							<input type="submit" class="buttonBg" value="查询"/>
						</td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
</body>
</html>